{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block title %}
Post Detail
{% endblock %}

{% block post_div %}

{% if obj.post %}
     {% if obj.image %}
       <p><h4><strong>{{obj.person|title}}</strong></h4> <h5> added a new  <a href= "{{ obj.id }}">photo </a> </h5></p>
          {{obj.post|title}} 
          <img src="{{ obj.image.url }}" alt="img" class="img-responsive img-rounded" height="200" width="200">
          </h5>at </h5> 
          {{ obj.timestamp }}

     {%else%}
       <p><h4><strong>{{obj.person|title}}</strong></h4> <h5> posted the  <a href= "{{ obj.id }}">post </a> </h5></p>{{obj.post|title}} </h5>at </h5> 
       {{ obj.timestamp }}
     {%endif%}

{%else %}
       <p><h4><strong>{{obj.person|title}}</strong></h4> <h5> added a new  <a href= "{{ obj.id }}">photo </a> </h5></p>
       {% if obj.image %}
       <img src="{{ obj.image.url }}" alt="img" class="img-responsive img-rounded" height="200" width="200">
       </h5>at </h5> 
          {{ obj.timestamp }}

{% endif %}
{% endif %}
<br>

<a href={% url 'like' obj.id %}> Like({{ obj.like }}) </a>



{% endblock %}





